fastapi
uvicorn
pydantic
python-dotenv
openai
google-cloud-aiplatform
anthropic
pinecone-client
qdrant-client
chromadb==1.0.15
faiss-cpu
pandas
numpy
scikit-learn
xgboost
sentence-transformers
requests
psutil
torch
huggingface_hub
sentence-transformers
torch
transformers<4.49
einops
